.container {
  position: relative;;
  margin: calc($base-grid-size * 6) 0 calc($base-grid-size * 2);
}

.icon {
  height: calc($base-grid-size * 8px - 2px);
  width: calc($base-grid-size * 8px - 2px);
  line-height: calc($base-grid-size * 8px - 2px) !important;
  text-align: center;
  font-size: 20px;
  &:before {
    display: block;
    transition: 500ms all ease;
    transform: rotateZ(0);
    line-height: calc($base-grid-size * 8px - 2px);
  }
}

.active .icon:before {
  transform: rotateZ(180deg);
}

.label {
  font-size: 12px;
  position: absolute;
  top: calc($base-grid-size * -4px);
}

.control {
  box-sizing: border-box;
  height: calc($base-grid-size * 8);
  line-height: calc($base-grid-size * 8 - 2);
  font-size: 16px;
  border-bottom: 1px solid rgba(#000, 0.18);
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.value {
  flex-grow: 1;
  white-space: nowrap;
  display: block;
}

.list {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.item {
  padding: calc($base-grid-size * 2) calc($base-grid-size * 6);
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease all;

  &.selected {
    background-color: $primary-color;
    color: #fff;
  }

  &:hover {
    background-color: color($primary-color a(66%));
    color: #fff;
  }
}

.disabled {
  cusor: not-allowed;
  .item,
  .value {
    opacity: $opacity-disabled;
  }
}

.enter {  }
.enterActive {  }
.leave {  }
.leaveActive {  }
.appear {  }
.appearActive {  }
